# 1. 파이썬 실행 캐시 찌꺼기
__pycache__/
*.pyc
*.py[cod]
*$py.class

# 2. PyInstaller 패키징 결과물 
build/
dist/
*.spec

# 기존처럼 txt, csv만 
# data 폴더 내부의 모든 것을 통째로 차단합니다.
data/

# 4. 가상환경 및 환경변수 설정 파일 (내 컴퓨터에서만 쓰는 설정)
venv/
env/
.env

my_trained_model/
models/**/*.pt
*.pt
*.bin
*.safetensors
*.msgpack